.appHeader {
    min-width: 768px;
    height: 40px;
    border-bottom: 1px solid #f2f2f2;
    display: flex;
    align-items: center;
    padding-left: 10px;
    padding-right: 10px;
    width: 100%;
}

.appHeader button {
    display: block;
}

.appHeader h2 {
    font-size: 25px;
    min-width: 200px;
    width: 30%;
    text-align: right;
}

.appHeader button {
    height: 30px;
    width: 100%;
    max-width: 100px;
    border-radius: 10px;
    justify-self: end;
}

.appHeader button:first-child {
    justify-self: start;
}

.headerButtons {
    width: 100%;
    display: flex;
    justify-content: flex-end;
    column-gap: 10px;
}

.headerButtons button {
    width: 150px;
}
